@using Core.Models
@model UserDetails

<div>
    <div class="modal-content">
        <h4>@Model.Firstname @Model.Lastname</h4>

        <p><b>Address</b>: @Model.Address</p>
        <p><b>City</b>: @Model.City</p>
        <p><b>Country</b>: @Model.Country</p>
        <p><b>Company</b>: @Model.Company</p>

        @if (Model.Phones.Count() > 0)
        {
            <div class="card hoverable">

                <div class="card-content">
                    <h3>Phones</h3>

                    <ul class="collection">

                        @for (int i = 0; i < @Model.Phones.Count(); i++)
                        {
                            <li class="collection-item">Number: @Model.Phones[i].Number | @(Model.Phones[i].IsActive ? "Active": "Inactive")</li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>